<div class="sidebar">
  <img src="https://hemant-rao.000webhostapp.com/assets/dev-2.png" class="profile-pic rounded-circle mx-auto d-block" alt="Cinque Terre">
  <h5 class="text-center text-warning">Ujjwal Kushwaha</h5>
  <h6 class="text-center text-secondary"><small>Chutiya Chacha</small></h6>
  <div class="list-group">
    <hr class="border-secondary">
    <a href="#" routerLink="about" routerLinkActive="active"
       class="list-group-item list-group-item-action text-white bg-transparent border-0">
      <i class="fas fa-address-card mr-2"></i> About <i class="fas fa-chevron-right float-right"></i>
    </a>
    <a href="#" routerLink="education" routerLinkActive="active"
       class="list-group-item list-group-item-action text-white bg-transparent border-0">
      <i class="fas fa-university mr-2"></i> Education <i class="fas fa-chevron-right float-right"></i>
    </a>
    <a href="#" routerLink="skills" routerLinkActive="active"
       class="list-group-item list-group-item-action text-white bg-transparent border-0">
      <i class="fas fa-toolbox mr-2"></i> Skills <i class="fas fa-chevron-right float-right"></i>
    </a>
    <a href="#" routerLink="hobbies" routerLinkActive="active"
       class="list-group-item list-group-item-action text-white bg-transparent border-0">
      <i class="fas fa-briefcase mr-2"></i> Employment <i class="fas fa-chevron-right float-right"></i>
    </a>
    <a href="#" routerLink="projects" routerLinkActive="active"
       class="list-group-item list-group-item-action text-white bg-transparent border-0">
      <i class="fas fa-project-diagram mr-2"></i> Projects <i class="fas fa-chevron-right float-right"></i>
    </a>
  </div>
</div>
