<div class="sidebar-bottom border border-success">
  <div class="row text-center text-white">
    <div class="col-2">
      <i class="fas fa-address-card"></i>
      <h6><small>About</small></h6>
    </div>
    <div class="col-2">
      <span><i class="fas fa-university"></i></span>
      <h6><small>Education</small></h6>
    </div>
    <div class="col-2">
      <i class="fas fa-toolbox"></i>
      <h6><small>Skills</small></h6>
    </div>
    <div class="col-2">
      <i class="fas fa-briefcase"></i>
      <h6><small>Employment</small></h6>
    </div>
    <div class="col-2">
      <i class="fas fa-project-diagram"></i>
      <h6><small>Project</small></h6>
    </div>
    <div class="col-2">
      <i class="fas fa-chevron-right"></i>
      <h6><small>Contact</small></h6>
    </div>
  </div>
</div>
